<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new post</title>
</head>
<body>
    <form method="post" action="/post">
        <h1>Adding new Post </h1>
        <input type="text" placeholder="Enter Your name" name="username"> <br><br>
        <textarea name="content" id="" cols="30" rows="10" placeholder="Enter your content here"></textarea>
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>